*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MAIN*/

.container{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	width: 80%;
	max-width: 1000px;
	margin: 40px auto;
  overflow: hidden;
}

.product {
  margin: 0px 6px 25px;
	position: relative;
  width: 32%;
  height: 520px;
  cursor: pointer;
}

img{
  width: 100%;
  height: auto;
}

.price-now{
  color: red;
}

.first-price{
  text-decoration: line-through;
}

.product-text{
  position: absolute;
    left: 0;
    bottom: 0;
}


.product .discount{
  position: absolute;
	bottom: 80px;
	left: 0;
	color: white;
	padding: 4px 9px;
	background-color: red;
}

.product .discount-light{
  position: absolute;
	bottom: 80px;
	left: 0;
	color: white;
	padding: 4px 9px;
	background-color: red;
}

.product .green{
  position: absolute;
	bottom: 80px;
	left: 56px;
	color: white;
	padding: 4px 9px;
	background-color: #008000;
}

.product .green-alt{
  position: absolute;
  bottom: 80px;
  left: 0;
}

.product .heart{
  position:absolute;
  top: 5px;
  right:0px;
  padding: 12px 12px;
  background-color: white;
  size: 1px;
}

.heart:hover{
  color: red;
}

.image-two{
  display: none;
}

.product:hover .image-two{
  display: block;
}

.product:hover .image-one{
  display: none;
}