*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MAIN*/

.container{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	width: 80%;
	max-width: 1000px;
	margin: 40px auto;
  overflow: hidden;
}

.product {
  margin: 5px;
	position: relative;
  width: 30%;
  border: 1px solid black;
  z-index: 1;
  cursor: pointer;
}

img{
  width: 100%;
  height: auto;
}

.price-now{
  color: red;
}

.first-price{
  text-decoration: line-through;
}

.product .discount{
  position: absolute;
	bottom: 80px;
	left: 0;
	color: white;
	padding: 4px 9px;
	background-color: red;
  z-index: 2;
}

.product .green{
  position: absolute;
	bottom: 80px;
	left: 56px;
	color: white;
	padding: 4px 9px;
	background-color: #008000;
  z-index: 2;
}

.product .heart{
  position:absolute;
  top: 5px;
  right:0px;
  padding: 12px 12px;
  background-color: white;
  size: 1px;
  z-index: 2;
}

.hide{
  display: none;
  z-index: 1;
}

.hide:hover{
  display: block;
}